// variables
$white-color: #fff;
$primary-color:#3766E8;
$heading-color:#212121;
$text-color:#545454;

// breakpoints
$extra-small:350px;
$small-mobile: 376px;
$mobile: 576px;
$small-tab: 768px;
$big-tab: 992px;
$desktop: 1200px;
$mid-desktop: 1400px;
$large-desktop: 1700px;